{{ define "main" }}
<section id="character-list">
    <div class="container">
        <h2>{{.Title}}</h2>
        <h3>{{.Params.subtitle1}}</h3>
        <div class="character-grid">
            {{ with .Params.characters }}
            {{ range . }}
              <div class="character-card">
                <a href="{{ .link | relURL }}">
                  <img src="{{ .image | relURL }}" alt="{{ .alt }}">
                  <h3>{{ .name }}</h3>
                  <p>{{ .description }}</p>
                </a>
              </div>
            {{ end }}
            {{ end }}
        </div>

    </div>
</section>

{{end }}