@import url('https://fonts.googleapis.com/css2?family=Emblema+One&family=Kaisei+Opti&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* CSS変数としてフォントを定義 */
:root {
  --font-emblema: "Emblema One", cursive;
  --font-kaisei: "Kaisei Opti", serif;
}

/* フォントを適用するためのクラスを定義（オプション） */
.font-emblema {
  font-family: var(--font-emblema);
}

.font-kaisei {
  font-family: var(--font-kaisei);
}
